*,
*::before
*::after{
    box-sizing: border-box;
}

*{
    background-color:black;
    text-align: center;
}
#ratgif{
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    margin-top: 10em;
}

h1{
    color:lightyellow; 
    font-family: 'Times New Roman', Times, serif;
    
}

.recipe{
    font-size: 22px;
    font-weight: bold;
    border-bottom:solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 7px;
    display: block;
    width: 5em;
    margin: 0 auto;
    position: relative;
}
.recipe.recipe1{
    color: lightpink;
    margin-top: 7em;
    right: 150px;
}

.recipe.recipe2{
    color: lightgoldenrodyellow;
}
.recipe.recipe3{
    color: lightgreen;
    left: 150px;
}
